@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-black min-h-full text-white;
	height: 100%;
	font-family: 'EQ TH', sans-serif !important;
}

.container {
	@apply mx-auto max-w-[1440px] px-6 md:px-10 lg:px-48 xl:px-72;
}

@font-face {
	font-family: 'EQ TH';
	src: url('./fonts/eq_th_blk.fee.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
